---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: Dashboard
description: A centralized start page for my HomeLab services and personal links
startUrl: "homepage.example.com"
headerStyle: boxed

background: https://images.unsplash.com/photo-1502790671504-542ad42d5189?auto=format&fit=crop&w=2560&q=80

cardBlur: xs # xs, md, etc... see https://tailwindcss.com/docs/backdrop-blur
theme: dark # Theme options: "light" or "dark"
color: blue # Primary accent color (Tailwind palette): e.g. "blue", "indigo", etc.
showStats: true # Show aggregated Docker stats widget
statusStyle: "basic" # How service statuses are styled: "card" (default) or "line"

# linkTarget: _blank # Open all links in a new tab
target: _self # Open all links in the same tab

layout:
  Storage:
    style: row
    columns: 3
    header: true
  Monitoring & Networking:
    style: row
    columns: 2
    header: true
  Markdown Notes:
    style: row
    columns: 1
    header: true
  Devops:
    style: row
    columns: 2
    header: true
